
@import url('https://cdn.jsdelivr.net/gh/quiple/hbios-sys@latest/hbios-sys.css');
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
@import url("https://r2.fontsource.org/css/unifont@latest/index.css");

@font-face {
    font-family: WinKor;
    font-weight: 400;
    font-style: normal; 
    src: url('https://windos.quiple.dev//WinKor.woff2') format('woff2')
}
@font-face {
  font-family: dalmoori;
  src: url('https://ranolp.github.io/dalmoori-font/latest-stable/dalmoori.woff2');
}
@font-face {
    font-family: HU신이문;
    src:url(./HUSinimun/HUSinimun.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU아현리MSX;
    src:url(./HUAhyunri/HUAhyunriMSX.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU아현리;
    src:url(./HUAhyunri/HUAhyunri.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU실루아;
    src:url(./HUSilhoua/HUSilhoua.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU태백고딕16;
    src:url(./HUTaebeak/HUTaebeakGothic16.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU애오개;
    src:url(./HUAeogae/HUAeogae.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sam3KRFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiraeroNormal';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IyagiGGC';
    src: url('https://cdn.jsdelivr.net/gh/JuwanPark/IyagiGGC@latest/IyagiGGC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MSX1;
    src: url('./web_rendering/MSX1-Korean-pre-alpha-0.0.1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: SAN반명조체;
    src:url(./HUSan/kor/SANBanmyeongjoche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN바람;
    src:url(./HUSan/kor/SANBaram.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN보통;
    src:url(./HUSan/kor/SANBotong.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN보통2;
    src:url(./HUSan/kor/SANBotong2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN부드러운;
    src:url(./HUSan/kor/SANBudeureoun.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN달리;/*SAN달리만듦으로 변경*/
    src:url(./HUSan/kor/SANDallimandeum.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN디나루체;
    src:url(./HUSan/kor/SANDinaruche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN도깨비디나루;
    src:url(./HUSan/kor/SANDokkaebiDinaru.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN도깨비고딕;
    src:url(./HUSan/kor/SANDokkaebiGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN가는고딕;
    src:url(./HUSan/kor/SANGaneunGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN가는장식고딕;
    src:url(./HUSan/kor/SANGaneunJangsikGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN가는샘물체;
    src:url(./HUSan/kor/SANGaneunSaemmulche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN기울임체;
    src:url(./HUSan/kor/SANGiurimche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN기울임체2;
    src:url(./HUSan/kor/SANGiurimche2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN굵은장식고딕;
    src:url(./HUSan/kor/SANGulgeunJangsikGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN굵은샘물체;
    src:url(./HUSan/kor/SANGulgeunSaemmulche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한글명조체;
    src:url(./HUSan/kor/SANHangeulMyeongjoche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한메본문체;
    src:url(./HUSan/kor/SANHanmeBonmunche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한메가는체;/*가는본문체로 변경*/
    src:url(./HUSan/kor/SANHanmeGaneunbonmunche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한메고딕;
    src:url(./HUSan/kor/SANHanmeGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한메샘물체;
    src:url(./HUSan/kor/SANHanmeSaemmulche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN한석봉체;
    src:url(./HUSan/kor/SANHanseokbongche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN흘림체;
    src:url(./HUSan/kor/SANHeullimche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN흘림체2;
    src:url(./HUSan/kor/SANHeullimche2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN임꺽정체;
    src:url(./HUSan/kor/SANImkkeokjeongche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN이야기안상수체;
    src:url(./HUSan/kor/SANIyagiAnsangsuche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN굵은고딕;
    src:url(./HUSan/kor/SANGulgeunGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN이야기굵은체;
    src:url(./HUSan/kor/SANIyagiGulgeunche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN이야기굵은체2;
    src:url(./HUSan/kor/SANIyagiGulgeunche2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN이야기굵은체3;
    src:url(./HUSan/kor/SANIyagiGulgeunche3.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN이야기삼벌식;
    src:url(./HUSan/kor/SANIyagiSambeolsik.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN장식고딕;
    src:url(./HUSan/kor/SANJangsikGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN중간고딕;
    src:url(./HUSan/kor/SANJungganGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN키작은체;
    src:url(./HUSan/kor/SANKijageunche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN꼬마;
    src:url(./HUSan/kor/SANKkoma.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN명조체;
    src:url(./HUSan/kor/SANMyeongjoche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN판본체;/*신판본으로 변경*/
    src:url(./HUSan/kor/SANSinpanbonche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN판본체2;/*신판본으로 변경*/
    src:url(./HUSan/kor/SANSinpanbonche2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN판본체3;/*신판본으로 변경*/
    src:url(./HUSan/kor/SANSinpanbonche3.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN폴;
    src:url(./HUSan/kor/SANPaul.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN파울루스;
    src:url(./HUSan/kor/SANPaulus.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN반명조체;
    src:url(./HUSan/kor/SANBanmyeongjoche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SANPC체;
    src:url(./HUSan/kor/SANPCche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN필기체;
    src:url(./HUSan/kor/SANPilgiche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN포항공대2;
    src:url(./HUSan/kor/SANPohanggongdae2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN샘;
    src:url(./HUSan/kor/SANSaem.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN샘2;
    src:url(./HUSan/kor/SANSaem2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN샘명조;
    src:url(./HUSan/kor/SANSaemmMeongjo.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN사과;
    src:url(./HUSan/kor/SANSagwa.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN삼보고딕;
    src:url(./HUSan/kor/SANSamboGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN서기2400;
    src:url(./HUSan/kor/SANSeogi2400.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN스러짐체;
    src:url(./HUSan/kor/SANSamboGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN스러짐체;
    src:url(./HUSan/kor/SANSeureojimche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN손글씨체;
    src:url(./HUSan/kor/SANSamboGothic.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN태백필기2;/*태백필기체2 로변경*/
    src:url(./HUSan/kor/SANTaebaekPilgiche2.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: SAN태백필기체;
    src:url(./HUSan/kor/SANTaebaekPilgiche.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}






@font-face { font-family: ad24;src:url(./HITEL/eng_woff/ad24.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: ad24_10;src:url(./HITEL/eng_woff/ad24_10.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: ascx;src:url(./HITEL/eng_woff/ascx.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: ascy;src:url(./HITEL/eng_woff/ascy.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: ativga;src:url(./HITEL/eng_woff/ativga.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: big;src:url(./HITEL/eng_woff/big.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: bold;src:url(./HITEL/eng_woff/bold.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: boldnr;src:url(./HITEL/eng_woff/boldnr.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: byte;src:url(./HITEL/eng_woff/byte.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: byte10;src:url(./HITEL/eng_woff/byte10.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: count;src:url(./HITEL/eng_woff/count.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e1;src:url(./HITEL/eng_woff/e1.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e2;src:url(./HITEL/eng_woff/e2.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e3;src:url(./HITEL/eng_woff/e3.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e4_2;src:url(./HITEL/eng_woff/e4_2.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e4_3;src:url(./HITEL/eng_woff/e4_3.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e5;src:url(./HITEL/eng_woff/e5.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e6;src:url(./HITEL/eng_woff/e6.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: e8;src:url(./HITEL/eng_woff/e8.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: eagleii;src:url(./HITEL/eng_woff/eagleii.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: eart;src:url(./HITEL/eng_woff/eart.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: eart10;src:url(./HITEL/eng_woff/eart10.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: egood;src:url(./HITEL/eng_woff/egood.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: eprcs;src:url(./HITEL/eng_woff/eprcs.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: flow;src:url(./HITEL/eng_woff/flow.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: flow10;src:url(./HITEL/eng_woff/flow10.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hanitl;src:url(./HITEL/eng_woff/hanitl.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hansc;src:url(./HITEL/eng_woff/hansc.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hansc2;src:url(./HITEL/eng_woff/hansc2.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hansc2t;src:url(./HITEL/eng_woff/hansc2t.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hm_y;src:url(./HITEL/eng_woff/hm_y.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmcount;src:url(./HITEL/eng_woff/hmcount.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmdef;src:url(./HITEL/eng_woff/hmdef.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmmcr;src:url(./HITEL/eng_woff/hmmcr.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmmcr_y;src:url(./HITEL/eng_woff/hmmcr_y.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmscr;src:url(./HITEL/eng_woff/hmscr.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmstd1;src:url(./HITEL/eng_woff/hmstd1.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmstd1y;src:url(./HITEL/eng_woff/hmstd1y.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: hmstd2;src:url(./HITEL/eng_woff/hmstd2.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: inbold;src:url(./HITEL/eng_woff/inbold.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: iygggo;src:url(./HITEL/eng_woff/iygggo.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: iygjrom;src:url(./HITEL/eng_woff/iygjrom.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: little;src:url(./HITEL/eng_woff/little.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: middle;src:url(./HITEL/eng_woff/middle.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: mini;src:url(./HITEL/eng_woff/mini.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: mini1;src:url(./HITEL/eng_woff/mini1.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: mrol;src:url(./HITEL/eng_woff/mrol.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: normal;src:url(./HITEL/eng_woff/normal.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: oak;src:url(./HITEL/eng_woff/oak.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: robo;src:url(./HITEL/eng_woff/robo.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: robo00;src:url(./HITEL/eng_woff/robo00.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: roman_l;src:url(./HITEL/eng_woff/roman_l.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: ronr00;src:url(./HITEL/eng_woff/ronr00.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: roth00;src:url(./HITEL/eng_woff/roth00.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: royal;src:url(./HITEL/eng_woff/royal.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: san;src:url(./HITEL/eng_woff/san.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: scr;src:url(./HITEL/eng_woff/scr.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: scrbold;src:url(./HITEL/eng_woff/scrbold.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: semirom;src:url(./HITEL/eng_woff/semirom.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: slant;src:url(./HITEL/eng_woff/slant.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: small;src:url(./HITEL/eng_woff/small.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: sys;src:url(./HITEL/eng_woff/sys.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: trident;src:url(./HITEL/eng_woff/trident.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: tsenghi;src:url(./HITEL/eng_woff/tsenghi.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: utopia;src:url(./HITEL/eng_woff/utopia.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: xsmall;src:url(./HITEL/eng_woff/xsmall.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: zeo;src:url(./HITEL/eng_woff/zeo.woff2) format('woff2');font-weight: normal;font-style: normal;}
@font-face { font-family: zorro;src:url(./HITEL/eng_woff/zorro.woff2) format('woff2');font-weight: normal;font-style: normal;}

















@font-face {
    font-family: LanaPixel;
    src:url(./web_rendering/LanaPixel.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 픽셀로보로보체;
    src:url(./web_rendering/pixelroborobo.otf) format('opentype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: Silver;
    src:url(./web_rendering/Silver.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: Ramche;
    src:url(./web_rendering/Ramche.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
      -webkit-font-smoothing : none;
      font-smooth: never;
}
@font-face {
    font-family: exqt;
    src:url(./web_rendering/exqt.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야바른9;
    src:url(./web_rendering/soya/SoyaBarun9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야벗9;
    src:url(./web_rendering/soya/SoyaBeot9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야다듬9;
    src:url(./web_rendering/soya/SoyaDadeum9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야얼음10;
    src:url(./web_rendering/soya/SoyaEoreum10.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야곧은10;
    src:url(./web_rendering/soya/SoyaGodeun10.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야꼬마9;
    src:url(./web_rendering/soya/SoyaKkoma9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야날림9;
    src:url(./web_rendering/soya/SoyaNallim9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야나눔9;
    src:url(./web_rendering/soya/SoyaNanum9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야논8;
    src:url(./web_rendering/soya/SoyaNon8.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야솔9;
    src:url(./web_rendering/soya/SoyaSol9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야쌀9;
    src:url(./web_rendering/soya/SoyaSsal9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야뜰9;
    src:url(./web_rendering/soya/SoyaTteul9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 소야영수9;
    src:url(./web_rendering/soya/SoyaYeongsu9.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}









/*******************CSS Part*******************/
:root {
    /*--bg-color: rgb(0,84,170);*/
    --bg-color: white;
    --text-color: black;
    /*--notice-color:yellow;*/
    --notice-color:blue;
    --default-font: "MiraeroNormal";
    --default-size: 24px;
}

table {
    table-layout: fixed;
    border-collapse: separate;
  }
td {
    /*border: 1px solid black;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   }
tr{
  line-height: 1;
}

::selection {
    background-color:var(--text-color);
    color:var(--bg-color);


}
::-moz-selection {
    background-color:var(--text-color);
    color:var(--bg-color);

}

#size-title {
    background-color:var(--text-color);
    color:var(--bg-color);
    font-family: var(--default-font);
    font-size: var(--default-size);
}

#size-title-disable {
    background-color:rgb(170,170,170);
    color:var(--bg-color);
    font-family: var(--default-font);
    font-size: var(--default-size);
}
/*only for gulim*/
#font-disable {
    color:rgb(170,170,170);
}
a{
  text-decoration-line:none;
}
a:link,
a:visited {
    color : var(--notice-color);
}
a:hover {
  color : var(--bg-color);
  background-color:var(--notice-color);
  background-color:blue;
}
a:active {
    color : var(--bg-color);
    background-color:var(--text-color);
}

html, body, main {
	height : 100vh;
	width : 100wh;
}

body{
	overflow : hidden;
    margin:0
}

#middle-box {
    margin: 0 auto;
    width:min(1400px,100wh);
    height:calc(100vh - 34px);
    overflow: auto;
}

/* 스크롤바 전체 기본 꾸미기 */
#middle-box::-webkit-scrollbar {
    width: 16px;  /* 스크롤바의 너비 */
    height: 16px;  /* 스크롤바의 너비 */
}

/* 스크롤바 막대 꾸미기 */
#middle-box::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--text-color); /* 스크롤바의 색상 */
}

/* 스크롤바 트랙 꾸미기 */
#middle-box::-webkit-scrollbar-track {
    background: rgb(104,180,255); /* 스크롤바의 색상 */
}

/* menubar */
#top-bar {
    width:100vw;
    background-color:var(--bg-color);
    top:0px;
    left:0px;
    text-align: center;
    border-bottom: solid 1px var(--text-color);
}

#top-menu-text {
    margin: 0 auto;
    text-align:left;
    display:block;
    width:min(1400px,100vw);
    color:var(--text-color);
    font-family: "HBIOS-SYS";
    font-size: 16px;

}

.button:hover{
    background-color:var(--text-color);
    color:var(--bg-color);

}

#bottom-bar {
    
    width:100vw;
    height:18px;
    background-color:var(--bg-color);
    bottom:0px;
    left:0px;
    text-align: center;
    border-top: solid 1px var(--text-color);
}

#bottom-menu-box {
    position: relative;
    display:block;
    margin: 0 auto;
    width:min(1400px,100vw);
}

#bottom-text-left {
    position:absolute;
    left:0;
    text-align:left;
    color:white;
    font-family: "HBIOS-SYS";
    font-size: 16px;

}
#bottom-text-right {
    position:absolute;
    right:20px;
    text-align:right;
    color:white;
    font-family: "HBIOS-SYS";
    font-size: 16px;
}