@import url('https://cdn.jsdelivr.net/gh/quiple/hbios-sys@latest/hbios-sys.css');
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
@font-face {
    font-family: WinKor;
    font-weight: 400;
    font-style: normal; 
    src: url('https://windos.quiple.dev//WinKor.woff2') format('woff2')
}
@font-face {
    font-family: HU신이문;
    src:url(./HUSinimun/HUSinimun.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU아현리MSX;
    src:url(./HUAhyunri/HUAhyunriMSX.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU아현리;
    src:url(./HUAhyunri/HUAhyunri.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU실루아;
    src:url(./HUSilhoua/HUSilhoua.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU태백고딕16;
    src:url(./HUTaebeak/HUTaebeakGothic16.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: HU애오개;
    src:url(./HUAeogae/HUAeogae.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sam3KRFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiraeroNormal';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IyagiGGC';
    src: url('https://cdn.jsdelivr.net/gh/JuwanPark/IyagiGGC@latest/IyagiGGC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MSX1;
    src: url('./web_rendering/MSX1-Korean-pre-alpha-0.0.1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}